# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "36db17a6fd9ce50c90a55686b7fb288e"
name = "Locra Discount"
application_url = "https://locra.co"
embedded = true

[webhooks]
api_version = "2026-01"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,write_customers,write_discounts,read_orders,read_products"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ ]
